# SPDX-License-Identifier: GPL-2.0
config PICOCALC_LCD
    tristate "Picocalc screen support"
    help

      Say Y or M here if you want to use the PicoCalc lcd screen. The module will be called ili9488_fb.
