# SPDX-License-Identifier: GPL-2.0
config PICOCALC_MFD
	tristate "Picocalc MFD device support"
	depends on I2C && MFD_CORE
	imply PICOCALC_MFD_BMS
	imply PICOCALC_MFD_BKL
	imply PICOCALC_MFD_KBD
	help

	  Say Y or M here if you want to interface with PicoCalc hardware via the STM32 firmware. The module will be called picocalc_mfd.
